<div class="offset-md-3 col-md-6 mt-3 form-format">
  <div class="offset-md-1 col-md-10 mt-3 mb-3">

    <h2><strong>Forgot your password?</strong></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-outline-info" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>


</div>
