<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'first'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'second' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'third'%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section>
  <p>Why Cash My Bling?</p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="guides">
        The prices we offer are far better than those offered by those offered by retailers. Thus, you are getting a better deal regardless of you trying to buy or sell your bling!

      </div>
    </div>

    <div class="col-md-4">
      <div class="guides">
        Our appraisal system ensures that the products you buy from our site are genuine.

      </div>
    </div>



    <div class="col-md-2"></div>
  </div>
</section>


<section>
  <p>User Testimonials</p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="guides">
        The prices here are far better than wholesale prices, and I managed to sell an engagement ring at a far better rate than the rate the pawnshop offered me. <br> - Edmund T

      </div>
    </div>

    <div class="col-md-4">
      <div class="guides">
        My user experience was nothing short of amazing. The product that I bought was very nice and the service was excellent! <br> - CT Chong

      </div>
    </div>



    <div class="col-md-2"></div>
  </div>
</section>
