<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'first'%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'second' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'jewelry-background.jpg', class: 'd-block w-100', alt: 'third'%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam qui quaerat ullam, maxime voluptatem id esse saepe assumenda, fuga eaque vero accusantium, labore aliquam amet voluptates laudantium unde corporis impedit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, omnis enim explicabo incidunt recusandae velit ex fugiat repellat minima eligendi cumque distinctio magni perferendis itaque? Voluptas eaque, debitis eligendi similique.</p>
