<div class="container">
  <h1>Edit Profile</h1>
  <%= form_for @searched_product do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :category %>
    <%= f.text_area :description %>
    <%= f.text_field :price %>
    <%= f.text_field :picture %>
    <% if current_user.admin %>
      <%= f.text_field :status %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
