<% provide(:title, 'All products')%>
<div class="row">
  <%= link_to "New Product", new_product_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
<div class="col-md-6 mt-3 mb-3">
  <%= paginate @all_products %>
  <nav>
    <ul>
      <li> <%= sort_link @search, :name, "Product Name"%></li>
      <li> <%= sort_link @search, :category,  "Category" %></li>
      <li> <%= sort_link @search, :created_at,  "Created At"%></li>
    </ul>
  </nav>

</div>
<ul>
  <%@all_products.each do |indiv_product| %>

    <% if indiv_product.status == 0 %>
      <li>
        <h3><%= indiv_product.name %></h3>
        <p>
          <%= indiv_product.description %><br>
          <%= indiv_product.user.username %><br>
          <%= indiv_product.category %><br>
          <%= link_to "View", product_path(indiv_product), class: "btn btn-primary"%>
          <%#= link_to "Add to Cart",  carts_path(indiv_product), method: :create, class: 'btn btn-info'%>
        </p>
      </li>
      <%end%>
  <%end%>
</ul>
