<% provide(:title, 'Individual Product') %>

<div>
  <h3><%= @searched_product.name %></h3>
  <p><%= @searched_product.description %></p>

  <%=  @searched_product.price %>

  <%= link_to "Purchase", "/purchases?id=#{ @searched_product.id }",method: :create, class: 'btn btn-info' %>
  <%= link_to "Remove Listing", product_path, method: :delete, class: 'btn btn-danger'%>
  <%= link_to "Edit Listing", edit_product_path, class: 'btn btn-info'%>
  <%= link_to "text", "#", class: "btn btn-primary" %>

</div>
