<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-color">
      <a class="navbar-brand" href="#">Cash My Bling</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Store", products_path, class: "nav-link" %>
          </li>
        </ul>

          <%if !current_user%>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            </ul>
          <% else%>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <%= link_to current_user.email + "'s Profile", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Current Balance: $#{current_user.balance.to_i}", charges_new_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path,method: :delete, class: "nav-link" %>
              </li>
            </ul>
          <% end%>

      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
